<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button [routerLink]="['/dashboard']"><mat-icon class="icone">home</mat-icon></button>
    <button mat-icon-button [routerLink]="['/eventos']"><mat-icon class="icone">today</mat-icon></button>
    <button mat-icon-button [routerLink]="['/eventos']"><mat-icon class="icone">people</mat-icon></button>
    <button mat-icon-button (click)="logout()"><mat-icon class="icone">power_settings_new</mat-icon></button>
    <span class="espaco"></span>

    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="icone">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Meus dados</button>
      <button mat-menu-item>Configurações</button>
      <button mat-menu-item >Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
