<mat-toolbar-row>
  <button mat-button [routerLink]="['/eventos/']" >Todos os eventos</button>
</mat-toolbar-row>
<form (ngSubmit)="cadastrar()">
  <mat-form-field>
    <input matInput type="text" name="name" placeholder="Nome" [(ngModel)]="user.name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="email" placeholder="Endereço de E-mail" [(ngModel)]="user.email" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password" placeholder="Senha" [(ngModel)]="user.password" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="c_password" placeholder="Confirme a senha" [(ngModel)]="user.c_password" required>
  </mat-form-field>
</form>
<mat-toolbar-row>
  <span *ngIf="error">{{error}}</span>
  <button mat-button (click)="cadastrar()">Entre na maior rede de músicos do mundo!</button>
</mat-toolbar-row>