<mat-toolbar-row>
  <button mat-button [routerLink]="['/eventos/novo']" ><mat-icon>add</mat-icon> Novo evento</button>
  <span class="espaco"></span>
  <mat-form-field>
    <input (keyup)="pesquisar($event.target.value)" matInput name="Pesquisar data" placeholder="Pesquisar">
  </mat-form-field>
</mat-toolbar-row>

<mat-tab-group mat-align-tabs="center">
  <mat-tab *ngFor="let mes of meses" label="{{ mes | date: 'MMMM'}}">
    <app-eventos-list
            [tempo]="'proximos'"
            [mes]="mes | date: 'MM'"
            (eventoSelecionado)="editar($event)"
            [q]="q">
    </app-eventos-list>
  </mat-tab>
</mat-tab-group>
