<form>
  <div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign up</strong>
    </h5>

    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;">
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="date" name="eventoData" id="eventoData" class="form-control"
                        [ngModel]="evento.data | date: 'yyyy-MM-dd'" (ngModelChange)="evento.data=($event)"
                        >
                        <label for="eventoData">Data</label>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" name="eventoTitulo" id="eventoTitulo" class="form-control" [(ngModel)]="evento.titulo">
                        <label for="eventoTitulo">Título</label>
                    </div>
                </div>
                <div class="col">
                  <div class="md-form">
                    <input type="text" name="eventoValor" id="eventoValor" class="form-control" [(ngModel)]="evento.valor">
                    <label for="eventoValor">Valor</label>
                  </div>
                </div>
            </div>

            <!-- Phone number -->
            <div class="md-form">
                <input type="text" name="eventoDescricao" id="eventoDescricao" class="form-control" [(ngModel)]="evento.descricao">
                <label for="materialRegisterFormPhone">Descrição</label>
            </div>

            <!-- Newsletter -->
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
                <label class="form-check-label" for="materialRegisterFormNewsletter">Opção</label>
            </div>

            <button type="button" (click)="salvar()" class="btn btn-default blue darken-2">Salvar</button>
            <button type="button" class="btn btn-outline-primary waves-effect">Cancelar</button>
            <!-- Sign up button -->

            <hr>

        </form>
        <!-- Form -->

    </div>

  </div>
</form>